//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$mainFont: 'Nunito', sans-serif;

//colors
$colorPrimary: #F4E041;
$colorPrimaryHover: #FFE302;
$colorSecondary: #00BDD3;
$colorBackground: #F8F8F8;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorFormGrey: #7E7E7E;
$colorFormRadio: #D0CFCF;
$colorDisabled: #B4B4B4;


//font-sizes
$H400: 40px;
$H220: 22px;
$H160: 16px;
$H120: 12px;

//line-heights
$LH400: 40px;
$LH220: 28px;
$LH160: 26px;
$LH120: 12px;




