//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$mainFont: 'Nunito', sans-serif;

//colors
$colorPrimary: #F4E041;
$colorPrimaryHover: #FFE302;
$colorSecondary: #00BDD3;
$colorBackground: #F8F8F8;
$colorBlack: #000000;
$colorWhite: #FFFFFF;

//font-sizes
$H400: 40px;
$H220: 22px;
$H160: 16px;

//line-heights
$LH400: 40px;
$LH220: 28px;
$LH160: 26px;




